<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>红树林自然保护区</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="/mobile/css/common.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/mobile/css/page.css">
    <script>
        window.onload = function(){
            var deviceWidth = document.documentElement.clientWidth;
            document.documentElement.style.fontSize=100*document.documentElement.clientWidth/750+'px';
        }
    </script>

    <!-- 解决ie9以下浏览器对HTML5新元素的兼容性问题 -->
    <!--[if lt IE 9]>
    <script src="http://cdn.static.runoob.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->

</head>
<body>
<div id="box">
    <header class="header"  >
        <div class="logo" style="background-color: white"><img src="/mobile/images/bz.png"  height="100%"/></div>
        <!--<a href="###" class="search">
            &lt;!&ndash;<span>目的地搜索</span>&ndash;&gt;
        </a>
        <div class="search-in-box">
            <input type="text" class="search-in line"/>
            <a href="" class="search-in-txt">搜索</a>
        </div>
        <div id="dl-menu" class="dl-menuwrapper">
            <button id="dl-menu-button">Open Menu</button>
            <ul class="dl-menu">

                <li><a href="company.html">公司简介</a></li>
                <li><a href="new-list.html">新闻中心</a></li>
                <li><a href="product-list.html">产品展示</a></li>
                <li><a href="picture.html">公司相册</a></li>
                <li><a href="messages.html">在线留言</a></li>
                <li><a href="contact.html">联系我们</a></li>
            </ul>
        </div>-->
    </header>
    <div class="clear"></div>
    <!--banner轮播开始-->
    <section class="banner clear">
        <div id="focus" class="focus banner clear">
            <div class="hd">
                <ul>
                    <li></li>
                </ul>
            </div>
            <div class="bd">
                <ul>
                    <!--  <li><a href="#"><img src="/mobile/images/banner2.jpg" width="100%" height="100%"></a></li>
                      <li><a href="#"><img src="/mobile/images/banner3.jpg" width="100%" height="100%"></a></li>
                      <li><a href="#"><img src="/mobile/images/banner4.jpg" width="100%" height="100%"></a></li>
                      <li><a href="#"><img src="/mobile/images/banner5.jpg" width="100%" height="100%"></a></li>-->
                    <li><a href="#"><img src="/mobile/images/hzbl/hzbl1.jpg" width="100%" height="100%"></a></li>
                    <li><a href="#"><img src="/mobile/images/hzbl/hzbl2.jpg" width="100%" height="100%"></a></li>
                    <li><a href="#"><img src="/mobile/images/hzbl/hzbl3.jpg" width="100%" height="100%"></a></li>
                    <li><a href="#"><img src="/mobile/images/hzbl/hzbl4.jpg" width="100%" height="100%"></a></li>
                </ul>
            </div>
        </div>
    </section>
    <div class="clear"></div>
    <div class="cont">
        <div class="about1">
            <h3>
                <span>自我介绍</span>
                <span>About us</span>
            </h3>
            <div class="img_one"><img src="/mobile/images/hzbl/hzbl5.jpg"></div>
            <div class="company">
                <h4>黄嘴白鹭</h4>
                <p>黄嘴白鹭（学名：Egretta eulophotes），也叫白老、唐白鹭，珍稀水禽，中型涉禽。体长46-65厘米，体重320-650克。雌雄羽色相似，通体白色。嘴、颈、脚均长。夏季嘴橙黄色，眼先蓝色，脚黑色，头顶至枕部有多枚细长白羽组成的丛状羽冠；背部、两户生有蓑状长羽，向后延伸超出尾端，前颈基部的蓑羽垂至下胸。趾有四个，黄色，三前一后；前后趾位于同一平面上，前趾基部有蹼相连。冬季嘴暗褐色，下嘴基部黄色，眼先黄绿色，脚亦黄绿色，背、肩和前颈无蓑状长羽。虹膜黄色，爪黑色。 [1]
                    栖息于海岸峭壁树丛、潮间带、盐田以及内陆的树林、河岸、稻田，以鱼、虾和蛙等为食，有结群营巢、修建旧巢和与池鹭、夜鹭、牛背鹭混群共域繁殖的习性。
                    主要繁殖在俄罗斯的远东地区、朝鲜、韩国和中国的东部地区，越冬地主要在菲律宾、马来半岛、新加坡、苏门答腊和越南等地。
                    已被列入国际鸟类保护委员会世界濒危鸟类红皮书，国家重点保护野生动物名录，属国家二级保护动物。</p>
            </div>
        </div>
        <div class="news">
            <h3>
                <span>保护措施</span>
                <span>Protect</span>
            </h3>
            <!--  	<div class="main_center1">
                    <ul>
                      <li class="selected">新闻中心</li>
                      <li>行业动态</li>
                    </ul>
                    <div class="clear"></div>
                    <div class="box1">
                        <div>
                          <ol>
                              <li><a href=""><span class="ol_left">家装如此多“胶”，选择临沂鼎成密封</span><span class="ol_right">2016-12-06</span></a></li>
                              <li><a href="#"><span class="ol_left">家装如此多“胶”，选择临沂鼎成密封</span><span class="ol_right">2016-12-06</span></a></li>
                              <li><a href="#"><span class="ol_left">家装如此多“胶”，选择临沂鼎成密封</span><span class="ol_right">2016-12-06</span></a></li>
                          </ol>
                        </div>
                        <div class="hide">
                           <ol>
                              <li><a href="#"><span class="ol_left">2222家装如此多“胶”，选择临沂鼎成密封</span><span class="ol_right">2016-12-06</span></a></li>
                              <li><a href="#"><span class="ol_left">2222家装如此多“胶”，选择临沂鼎成密封</span><span class="ol_right">2016-12-06</span></a></li>
                              <li><a href="#"><span class="ol_left">2222家装如此多“胶”，选择临沂鼎成密封</span><span class="ol_right">2016-12-06</span></a></li>
                          </ol>
                        </div>
                    </div>
                    </div>-->

            <div class="company">
                <h4></h4>
                <p>黑脸琵鹭是湿地的主要指示物种，因数量稀少而被国际自然资源保护联盟(IUCN)列入世界濒临物种红皮书中，同时被国际鸟类保护委员会列入世界极濒危鸟类名录。因此，从1985年国际上开始关注黑脸琵鹭以来，各国各地都加强了对黑脸琵鹭的保护。黑脸琵鹭繁殖地在辽宁被发现以后，国家林业局、辽宁省林业厅、大连市政府、林业局，长海县和庄河市政府、林业局以及石城乡政府都十分重视黑脸琵鹭保护，采取多种形式进行保护黑脸琵鹭必要性，紧迫性的宣传教育，投入保护资金、设置专人看护，加强对繁殖地，觅食地的管理。特别是2003年6月石城乡划归庄河市管辖后，为进一步加强对黑脸琵鹭的保护，7月份，辽宁省林业厅野生动植物保护处主持在石城乡召开了黑脸琵鹭保护现场办公会，大连市林业局，庄河市政府、林业局和石城乡的各有关负责人参加会议。会议针对黑脸琵鹭保护面临的问题，做出了拆除坨子上违章建筑，撤走风力发电机、建观测保护站，继续设专人管护等措施来保护黑脸琵鹭的决定。会后，庄河市政府发布了关于保护黑脸琵鹭的通告，明确形人坨子周围30米以内严禁各类人员进入，水产养殖活动不得影响黑脸琵鹭的繁殖。同时，辽宁鸟类研究中心与有关科研部门又对形人坨周边的岛、坨进行了调查，以期发现黑脸琵鹭新的繁殖地。 黑脸琵鹭在辽宁繁殖地的发现，也引起了有关国际动物保护组织的关注，并对黑脸琵鹭的保护工作给予了很大的支持。世界自然基金会(WWF)提供部分资金，帮助用于黑脸琵鹭取食地的调查和保护。国际鹳鹤委员会主席柯得尔先生于2002年亲自到黑脸琵鹭繁殖地现场进行考察，并就如何做好黑脸琵鹭的保护工作提出了宝贵意见。中央电视台、辽宁电视台和大连电视台等新闻媒体，也都分别进行了拍摄和报道，进行保护宣传教育。特别是2006年1月份，大连市政府批准把形人坨子及周边岛屿建成黑脸琵鹭自然保护区，使保护工作更加规范和依法进行。正是由于各部门，各方面的努力，黑脸琵鹭的繁殖数量逐年有所增加。2006年的窝卵巢数达到6个，是1999年以来最多的一年。</p>
            </div>
        </div>
        <div class="product">
            <h3>
                <span>生存现状</span>
                <span>Life</span>
            </h3>
            <div id="owl-demo" class="owl-carousel">
                <div class="item"><img class="lazyOwl" data-src="/mobile/images/hzbl/hzbl7.jpg" alt="源码之家 - www.mycodes.net"></div>
                <div class="item"><img class="lazyOwl" data-src="/mobile/images/hzbl/hzbl8.jpg" alt="源码之家 - www.mycodes.net"></div>
                <div class="item"><img class="lazyOwl" data-src="/mobile/images/hzbl/hzbl9.jpg" alt="源码之家 - www.mycodes.net"></div>
                <div class="item"><img class="lazyOwl" data-src="/mobile/images/hzbl/hzbl10.jpg" alt="源码之家 - www.mycodes.net"></div>
                <div class="item"><img class="lazyOwl" data-src="/mobile/images/hzbl/hzbl7.jpg" alt="源码之家 - www.mycodes.net"></div>
                <div class="item"><img class="lazyOwl" data-src="/mobile/images/hzbl/hzbl8.jpg" alt="源码之家 - www.mycodes.net"></div>
                <div class="item"><img class="lazyOwl" data-src="/mobile/images/hzbl/hzbl9.jpg" alt="源码之家 - www.mycodes.net"></div>
                <div class="item"><img class="lazyOwl" data-src="/mobile/images/hzbl/hzbl10.jpg" alt="源码之家 - www.mycodes.net"></div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="foot">
        <ul class="foot_nav">
            <li>友情链接：</li>
            <li><a href="#">xxxx</a></li>
            <li><a href="#">xxxx</a></li>
            <li><a href="#" class="none">xxxx</a></li>
        </ul>
        <div class="clear"></div>
        <p class="p1">福田红树林自然保护区版权所有</p>
        <p>联系地址：</p>
        <p>电话：xxxxxxxxx</p>
        <p class="p2">Copyright © 2014-2017 中润普达 版权所有 Power by 中润普达</p>
    </div>
</div>
<!-- 导航   -->
<script type="text/javascript" src="/mobile/js/jquery1.js"></script>
<script type="text/javascript" src="/mobile/js/modernizr.custom.js"></script>
<script type="text/javascript" src="/mobile/js/jquery.dlmenu.js"></script>
<script type="text/javascript">
    $(function(){
        $( '#dl-menu' ).dlmenu();
    });
</script>
<!-- banner -->
<script src="/mobile/js/TouchSlide.1.1.js"></script>

<script type="text/javascript">
    TouchSlide({
        slideCell: "#focus",
        titCell: ".hd ul", //开启自动分页 autoPage: true ，此时设置 titCell 为导航元素包裹层
        mainCell: ".bd ul",
        effect: "leftLoop",
        autoPlay: true,//自动播放
        autoPage: true, //自动分页

        switchLoad: "_src" //切换加载，真实图片路径为"_src";
    });
    // 切换
    $(function(){
        $('.main_center1 ul li').mouseover(function(){
            $(this).addClass('selected').siblings().removeClass('selected');
            var $a=$(this).index();//获取序列号
            $('.box1>div').eq($a).show().siblings().hide();
        })
    })
</script>
<script type="text/javascript">
    $(".search").click(
        function(){
            $(".search-in-box").slideToggle(300);
        }
    )
</script>
<!-- 无缝滚动 -->
<!-- <script src="js/jquery.cxscroll.js"></script>
<script>
$("#pic_list_1").cxScroll();
</script> -->
<script src="/mobile/js/owl.carousel.js"></script>
<script>
    $(document).ready(function() {
        $("#owl-demo").owlCarousel({
            items : 4,
            lazyLoad : true,
            navigation : true
        });
    });
</script>

</body>
</html>