<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>红树林自然保护区</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="/mobile/css/common.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/mobile/css/page.css">
<script>
window.onload = function(){
	var deviceWidth = document.documentElement.clientWidth;
	document.documentElement.style.fontSize=100*document.documentElement.clientWidth/750+'px';
}
</script>

<!-- 解决ie9以下浏览器对HTML5新元素的兼容性问题 -->
<!--[if lt IE 9]>
  <script src="http://cdn.static.runoob.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
  <![endif]-->

</head>
<body>
  <div id="box">
	<header class="header"  >
	<div class="logo" style="background-color: white"><img src="/mobile/images/bz.png"  height="100%"/></div>
	<!--<a href="###" class="search">
		&lt;!&ndash;<span>目的地搜索</span>&ndash;&gt;
	</a>
	<div class="search-in-box">
		<input type="text" class="search-in line"/>
		<a href="" class="search-in-txt">搜索</a>
	</div>
	<div id="dl-menu" class="dl-menuwrapper">
		<button id="dl-menu-button">Open Menu</button>
		<ul class="dl-menu">
			<li><a href="company.html">公司简介</a></li>
			<li><a href="new-list.html">新闻中心</a></li>
			<li><a href="product-list.html">产品展示</a></li>
			<li><a href="picture.html">公司相册</a></li>
			<li><a href="messages.html">在线留言</a></li>
			<li><a href="contact.html">联系我们</a></li>
		</ul>
	</div>-->
   </header>
   <div class="clear"></div>
   <!--banner轮播开始-->
	<section class="banner clear">
	    <div id="focus" class="focus banner clear">
	        <div class="hd">
	            <ul>
	            	<li></li>
	            </ul>
	        </div>
	        <div class="bd">
	            <ul>
	                  <!--  <li><a href="#"><img src="/mobile/images/banner2.jpg" width="100%" height="100%"></a></li>
	                    <li><a href="#"><img src="/mobile/images/banner3.jpg" width="100%" height="100%"></a></li>
	                    <li><a href="#"><img src="/mobile/images/banner4.jpg" width="100%" height="100%"></a></li>
	                    <li><a href="#"><img src="/mobile/images/banner5.jpg" width="100%" height="100%"></a></li>-->
					<li><a href="#"><img src="/mobile/images/hlpl1.jpg" width="100%" height="100%"></a></li>
					<li><a href="#"><img src="/mobile/images/hlpl2.jpg" width="100%" height="100%"></a></li>
					<li><a href="#"><img src="/mobile/images/hlpl3.jpg" width="100%" height="100%"></a></li>
					<li><a href="#"><img src="/mobile/images/hlpl4.jpg" width="100%" height="100%"></a></li>
	            </ul>
	        </div>
	    </div>
	</section>
	<div class="clear"></div>
	<div class="cont">
	<div class="about1">
		<h3>
	  		<span>自我介绍</span>
	  		<span>About us</span>
  		</h3>
  		<div class="img_one"><img src="/mobile/images/hlpl5.jpg"></div>
  		<div class="company">
  			<h4>台湾相思林</h4>
  			<p>台湾相思（学名：Acacia confusa Merr.）：常绿乔木，高6-15米，无毛；枝灰色或褐色，无刺，小枝纤细。苗期第一片真叶为羽状复叶，长大后小叶退化。头状花序球形，单生或2-3个簇生于叶腋，直径约1厘米；总花梗纤弱，长8-10毫米；花金黄色，有微香；花瓣淡绿色，长约2毫米。荚果扁平，干时深褐色，有光泽；种子2-8颗，椭圆形，压扁，长5-7毫米。花期3-10月；果期8-12月。
				该种生长迅速，耐干旱，为华南地区荒山造林、水土保持和沿海防护林的重要树种。材质坚硬，可为车轮，桨橹及农具等用；树皮含单宁；花含芳香油，可作调香原料。产中国台湾、福建、广东、广西、云南；野生或栽培。菲律宾、印度尼西亚、斐济亦有分布。</p>
  		</div>
	</div>



	<div class="clear"></div>
	<div class="foot">
		<ul class="foot_nav">
		    <li>友情链接：</li>
			<li><a href="#">xxxx</a></li>
			<li><a href="#">xxxx</a></li>
			<li><a href="#" class="none">xxxx</a></li>
		</ul>
		<div class="clear"></div>
		<p class="p1">福田红树林自然保护区版权所有</p>
		<p>联系地址：</p>
		<p>电话：xxxxxxxxx</p>
		<p class="p2">Copyright © 2014-2017 中润普达 版权所有 Power by 中润普达</p>
	</div>
</div>
  <!-- 导航   -->
<script type="text/javascript" src="/mobile/js/jquery1.js"></script>
<script type="text/javascript" src="/mobile/js/modernizr.custom.js"></script>
<script type="text/javascript" src="/mobile/js/jquery.dlmenu.js"></script>
<script type="text/javascript">
$(function(){
	$( '#dl-menu' ).dlmenu();
});
</script>
<!-- banner -->
<script src="/mobile/js/TouchSlide.1.1.js"></script>

<script type="text/javascript">
	TouchSlide({
	slideCell: "#focus",
		titCell: ".hd ul", //开启自动分页 autoPage: true ，此时设置 titCell 为导航元素包裹层
		mainCell: ".bd ul", 
		effect: "leftLoop", 
		autoPlay: true,//自动播放
		autoPage: true, //自动分页
		
		switchLoad: "_src" //切换加载，真实图片路径为"_src";
}); 
	// 切换
	$(function(){
	$('.main_center1 ul li').mouseover(function(){
	$(this).addClass('selected').siblings().removeClass('selected');
	var $a=$(this).index();//获取序列号
	$('.box1>div').eq($a).show().siblings().hide();
  })
})
</script>
<script type="text/javascript">
	$(".search").click(
		function(){
			$(".search-in-box").slideToggle(300);
		}
	)
</script>
<!-- 无缝滚动 -->
<!-- <script src="js/jquery.cxscroll.js"></script>
<script>
$("#pic_list_1").cxScroll();
</script> -->
<script src="/mobile/js/owl.carousel.js"></script>
<script>
    $(document).ready(function() {
      $("#owl-demo").owlCarousel({
        items : 4,
        lazyLoad : true,
        navigation : true
      });
    });
</script> 

</body>
</html>